.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  flex-grow: 1;
  border: 1px solid rgba(156, 44, 158, 0.08);
  align-self: flex-start;
}

.social {
  h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 38px;
  }
  span {
    line-height: 18px;
    color: #9c9c9c;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 0 0 74px;
  }
  li {
    display: inline-block;
  }
  img {
    width: 30px;
    height: 30px;
    display: block;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
