@import 'app/styles/variables.scss';
@import 'app/styles/mixins';

.postContainer {
  border: 1px solid rgba(156, 44, 158, 0.08);
  border-radius: 10px;
  padding: 13px 0 14px;
  margin: 16px 0;
  box-sizing: border-box;
}

.header {
  padding: 0 10px;
  display: flex;

  align-items: center;
  margin-bottom: 16px;

  @include respond-to(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.authorImage {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 12px;

  @include respond-to(mobile) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.authorDetails {
  display: flex;
  flex-direction: column;

  @include respond-to(mobile) {
    align-items: flex-start;
  }
}

.author {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.date {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #c4c4c4;
}

.content {
  padding: 0 10px;
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
}

.readMore {
  color: #0073b1;
  cursor: pointer;
  font-weight: bold;
  padding-left: 8px;
}

.image {
  max-width: 100%;
  margin-bottom: 10px;

  @include respond-to(mobile) {
    height: auto;
  }
}

.footer {
  padding: 0 10px;

  display: flex;
  justify-content: space-between;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 10px;
  }
}

.action {
  border: none;
  background: none;
  cursor: pointer;
  // padding: 6px 6px 6px 10px;
  display: flex;
  align-items: center;

  @include respond-to(mobile) {
    padding: 6px 0;
  }

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-left: 6px;
  }
}

.actionButton:hover {
  text-decoration: underline;
}
