@import 'app/styles/variables.scss';
@import 'app/styles/mixins';

.postContainer {
  border: 1px solid rgba(156, 44, 158, 0.08);
  border-radius: 10px;
  padding: 13px 0 14px;
  margin: 16px 0;
  box-sizing: border-box;
}

.header {
  padding: 0 27px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;

  @include respond-to(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.user {
  display: flex;
  align-items: center;
}
.authorImage {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 12px;

  @include respond-to(mobile) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.authorDetails {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 18px;

  @include respond-to(mobile) {
    align-items: flex-start;
  }
}

.date {
  color: #c4c4c4;
}

.image {
  max-width: 100%;
  margin-bottom: 10px;
  @include respond-to(mobile) {
    height: auto;
  }
}

.footer {
  padding: 0 27px;
  display: flex;
  justify-content: space-between;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 10px;
  }
}

.action {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include respond-to(mobile) {
    padding: 6px 0;
  }

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-left: 6px;
  }

  &:focus {
    outline: none;
  }
}
