@import 'app/styles/mixins';
@import 'app/styles/variables';

.postsContainer {
  display: flex;
  flex-direction: column;
  max-width: 628px;
  width: 100%;
  @include respond-to(tablet) {
    max-width: 100%;
  }
}

.posts {
  display: flex;
  flex-direction: column;
}

@include respond-to(tablet) {
  .createPostFormWrapper {
    display: none;
  }
}
