@import 'app/styles/variables.scss';
@import 'app/styles/mixins.scss';

.profile {
  display: flex;
  align-items: center;
  justify-items: center;
}

.buttonBack {
  display: none;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(232, 77, 149, 0.08);
  }

  img {
    width: 18px;
    height: 18px;
  }
  @include respond-to(tablet) {
    display: block;
  }
}
