@import 'app/styles/mixins';
@import 'app/styles/variables';

.profilePage {
  display: flex;
  flex-direction: column;
  max-width: 1305px;
  padding: 0 20px;
  @include respond-to(tablet) {
    margin-top: 74px;
    padding: 0;
  }
}

.profileContent {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 16px;
    text-align: left;
  }
  @include respond-to(tablet) {
    flex-direction: column;
    align-items: center;
    padding: 0 23px;
  }
}

.fullScreen {
  @include respond-to(tablet) {
    display: none;
  }
}
.minimized {
  display: none;
  @include respond-to(tablet) {
    display: flex;
  }
}
