.logo {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    padding-right: 6px;
  }

  &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    &_mark {
      color: #e25a99;
    }
  }
}
