.homePage {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  padding: 38px 20px 0;
}

.posts {
  display: flex;
  flex-direction: column;
}
.tags {
  max-width: 309px;
}
