@import 'app/styles/mixins';
@import 'app/styles/variables';

.homePage {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  padding: 38px 20px 0;
  gap: 10px;
  margin-top: 59px;

  @include respond-to(tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.profileWrapper {
  display: flex;
  flex-grow: 1;
  max-width: 309px;

  @include respond-to(tablet) {
    display: none;
  }
}

.tags {
  max-width: 309px;
}
