@import 'app/styles/mixins';
@import 'app/styles/variables';

.postsContainer {
  display: flex;
  flex-direction: column;
  max-width: 628px;
  width: 100%;
  @include respond-to(tablet) {
    max-width: 100%;
  }
}

.posts {
  display: flex;
  flex-direction: column;
}

@include respond-to(tablet) {
  .createPostFormWrapper {
    display: none;
  }
}

.postsTitle {
  display: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 0 11px;
  text-align: left;

  @include respond-to(tablet) {
    display: block;
  }
}
